<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzimcar.admin.dao.CodeDao">

	<!-- ## 필수 생성 Query ########################################### -->
	<insert id="insert_base" parameterType="Map">
		INSERT INTO common_code 
		(
			code_div	, code_key		, code_value	, code_sort_no, code_status	,
			reg_mem_pid	, mod_mem_pid	, 
			reg_dtime	, mod_dtime
		) VALUES ( 
			#{code_div}		, #{code_key}	, #{code_value} , #{code_sort_no}, #{code_status} ,
			#{reg_mem_pid}	, #{mod_mem_pid} ,
			DATE_FORMAT(now(), "%Y%m%d%H%i%s"), DATE_FORMAT(now(), "%Y%m%d%H%i%s") 
		)
		<!-- INSERT 후 PK 값을 얻기 위한 select Key -->
		<selectKey resultType="int" keyProperty="code_pid" order="AFTER">
        SELECT LAST_INSERT_ID()
		</selectKey> 
	</insert>
	
	<update id="update_by_pk" parameterType="Map">
		UPDATE	common_code 
		   SET	code_div	= #{code_div}		,
				code_key	= #{code_key}		,
				code_value	= #{code_value}		,
				code_status	= #{code_status}	,
				mod_mem_pid	= #{mod_mem_pid}	,
				mod_dtime	= DATE_FORMAT(now(), "%Y%m%d%H%i%s")
		 WHERE	code_pid = #{code_pid}		
	</update>
	
	<delete id="delete_by_pk" parameterType="int">
		DELETE	FROM common_code 
		 WHERE	code_pid = #{code_pid}		
	</delete>
		
	<select id="select_all" parameterType="Map"  resultType="rm">
		SELECT	code_pid	,
				code_div	,
				code_key	,
				code_value	,
				code_sort_no,
				code_status	,
				reg_mem_pid	,
				mod_mem_pid	,
				reg_dtime	,
				mod_dtime
		  FROM 	common_code 
	</select>
	
	<select id="select_by_pk" parameterType="int"  resultType="rm">
		SELECT	code_pid	,
				code_div	,
				code_key	,
				code_value	,
				code_sort_no,
				code_status	,
				reg_mem_pid	,
				mod_mem_pid	,
				reg_dtime	,
				mod_dtime
		  FROM 	common_code 
		 WHERE	code_pid = #{code_pid}
	</select>
	<!-- ## //.필수 생성 Query ######################################## -->

	<select id="select_page" parameterType="Map"  resultType="rm">
		
		SELECT	SQL_CALC_FOUND_ROWS
				code_pid	,
				code_div	,
				code_key	,
				code_value	,
				code_sort_no,
				code_status	,
				reg_mem_pid	,
				mod_mem_pid	,
				reg_dtime	,
				mod_dtime
		  FROM 	common_code
		  WHERE	code_status != '9'
		<if test="status_type!=null">
			AND code_status = #{status_type}
		</if>
		<if test="search_type!=null">
			AND ${search_type} like '%${search_value}%'
		</if>
		ORDER BY code_pid DESC
		<if test="offset != null and row_count != null">
			LIMIT #{offset}, #{row_count}
		</if>
		
	</select>

	<select id="select_found_rows" resultType="int">
		SELECT	FOUND_ROWS() AS total_count 
	</select>

	<insert id="insert_code" parameterType="Map">
		INSERT INTO common_code 
		(
			code_div	, code_key		, code_value	, code_sort_no, code_status	,
			reg_mem_pid	, mod_mem_pid	, 
			reg_dtime	, mod_dtime
		) VALUES ( 
			#{code_div}		, #{code_key}	, #{code_value} , (SELECT MAX(c.code_sort_no)+1 FROM common_code c), #{code_status} ,
			#{reg_mem_pid}	, #{mod_mem_pid} ,
			DATE_FORMAT(now(), "%Y%m%d%H%i%s"), DATE_FORMAT(now(), "%Y%m%d%H%i%s") 
		)
	</insert>
	
	<update id="update_delete" parameterType="Map">
		UPDATE	common_code 
		   SET	code_status	= '9'				,
				mod_mem_pid	= #{mod_mem_pid}	,
				mod_dtime	= DATE_FORMAT(now(), "%Y%m%d%H%i%s")
		 WHERE	code_pid = #{code_pid}		
	</update>
	
	<select id="getClassCodeGroup" resultType="rm">
		SELECT 
			code_key,
			code_value
		FROM common_code
		WHERE code_div = 'CAR_CLASS_CODE'
		      AND code_status != '9'
		      AND code_status != '0'
		GROUP BY code_key,code_value
	</select>
	
	<select id="getOptionCodeGroup" resultType="rm">
		SELECT 
			code_key,
			code_value
		FROM common_code
		WHERE code_div like 'CAR_OPTION_%'
		      AND code_status != '9'
              AND code_status != '0'
		GROUP BY code_key,code_value
	</select>
	
	<select id="getMakerCodeGroup" resultType="rm">
		SELECT 
			code_key,
			code_value
		FROM common_code
		WHERE code_div = 'CAR_MAKER_CODE'
		      AND code_status != '9'
              AND code_status != '0'
		GROUP BY code_key,code_value
	</select>
	
	<select id="getFuelCodeGroup" resultType="rm">
		SELECT 
			code_key,
			code_value
		FROM common_code
		WHERE code_div = 'CAR_FUEL_CODE'
		      AND code_status != '9'
              AND code_status != '0'
		GROUP BY code_key,code_value
	</select>
	
	<select id="getYearCodeGroup" resultType="rm">
		SELECT 
			code_key,
			code_value
		FROM common_code
		WHERE code_div = 'CAR_YEAR_CODE'
		      AND code_status != '9'
              AND code_status != '0'
		GROUP BY code_key,code_value
	</select>
	
	<select id="getInsuCodeGroup" resultType="rm">
		SELECT 
			code_key,
			code_value
		FROM common_code
		WHERE code_div = 'CAR_INSU_CODE'
		      AND code_status != '9'
              AND code_status != '0'
		GROUP BY code_key,code_value
	</select>
	
	<select id="getLayoutTypeCodeGroup" resultType="rm">
        SELECT 
            code_key,
            code_value
        FROM common_code
        WHERE code_div = 'DIRECT_LAYOUT'
              AND code_status != '9'
              AND code_status != '0'
        GROUP BY code_key,code_value
    </select>
    
    <select id="getSkinTypeCodeGroup" resultType="rm">
        SELECT 
            code_key,
            code_value
        FROM common_code
        WHERE code_div = 'DIRECT_SKIN'
              AND code_status != '9'
              AND code_status != '0'
        GROUP BY code_key,code_value
    </select>
	
</mapper>